*
    border: 1px solid black
.credentials
    max-width: 1440px
    margin-left: auto
    margin-right: auto

    &__header
        display: flex
        justify-content: center
        align-items: center
    
    &__elements
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1vw 

    &__diploma1
        width: 15vw
        display: flex

        &--text
            padding: 2% 4%
        &--name
            text-align: center
        &--description 
            text-align: center

    &__diploma2
        width: 15vw
        display: flex

        &--text
            padding: 2% 4%
        &--name
            text-align: center
        &--description 
            text-align: center

    &__diploma3
        width: 15vw
        display: flex

        &--text
            padding: 2% 4%
        &--name
            text-align: center
        &--description 
            text-align: center

    &__diploma4
        width: 15vw
        display: flex

        &--text
            padding: 2% 4%
        &--name
            text-align: center
        &--description 
            text-align: center

 

            
            
                



    
