.credentials {
  max-width: 1920px;
  margin: 0 auto;
}
.credentials__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.credentials__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.credentials__elements__list {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 35vw;
       column-width: 35vw;
  padding-left: 2rem;
  list-style-type: none;
}
.credentials__elements__list--li {
  font-size: 25px;
  padding-left: 4rem;
  margin-bottom: 2rem;
  background-image: url("../../images/desktop/diploma-img.svg");
  background-position: 0 center;
  background-size: 1.8 rem 1.8 rem;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
}
.credentials__elements__list--a {
  text-decoration: none;
  color: #000;
}
.credentials__elements__list--a:hover {
  text-decoration: underline;
}
.credentials__elements__list--a:focus {
  text-decoration: underline;
}
.credentials__elements__list--a:active {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__content {
  position: relative;
  margin: 60px auto;
  width: 30%;
  height: 30%;
  animation-name: animatetop;
  animation-duration: 1.2s;
}
.modal__body {
  padding: 4px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal1__content {
  position: relative;
  margin: 60px auto;
  width: 30%;
  height: 30%;
  animation-name: animatetop;
  animation-duration: 1.2s;
}
.modal1__body {
  padding: 4px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal2__content {
  position: relative;
  margin: 120px auto;
  width: 40%;
  height: 40%;
  animation-name: animatetop;
  animation-duration: 1.2s;
}
.modal2__body {
  padding: 4px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal3__content {
  position: relative;
  margin: 120px auto;
  width: 40%;
  height: 40%;
  animation-name: animatetop;
  animation-duration: 1.2s;
}
.modal3__body {
  padding: 4px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal4 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal4__content {
  position: relative;
  margin: 60px auto;
  width: 30%;
  height: 30%;
  animation-name: animatetop;
  animation-duration: 1.2s;
}
.modal4__body {
  padding: 4px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal5 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal5__content {
  position: relative;
  margin: 60px auto;
  width: 30%;
  height: 30%;
  animation-name: animatetop;
  animation-duration: 1.2s;
}
.modal5__body {
  padding: 4px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal6 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal6__content {
  position: relative;
  margin: 60px auto;
  width: 30%;
  height: 30%;
  animation-name: animatetop;
  animation-duration: 1.2s;
}
.modal6__body {
  padding: 4px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=credentials.css.map */