*
    border: 1px solid black
.credentials
    max-width: 1440px
    margin-left: auto
    margin-right: auto

    &__header
        display: flex
        justify-content: center
        align-items: center
    
    &__elements
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        align-items: center

        &__list
            list-style-image: url('../../images/desktop/diploma-img.svg')
            list-style-position: inside
            column-count: 2
            column-width: 30vw

            &--li
                font-size: 25px
            &--a
                text-decoration: none
                
        
        

           

    

  

 

            
            
                



    
