@import "mixin"
  
.feedback 
  &__container 
    max-width: 1320px

    margin-left: auto
    margin-right: auto
  
  &__card
    max-width: 710px
  
.feedback-item
  display: flex
  justify-content: space-between
  align-items: flex-start
  min-width: 0

  padding: 1em

  &__img-container
    max-width: 150px
    max-height: 150px
    border-radius: 50%
    overflow: hidden

    flex: 2 1 25% 

    img
      @include img-fit


  &__text-side
    @include flex-column-space-evenly
    flex: 1 2 75% 
    padding: 0 10px

  &__client-name
    margin: 1rem 0 0 0
    
  &__client-opinion
    margin: 1rem 0 0 0
    padding: 0


.swiper 
  max-width: 1320px
  width: 100%
  height: auto
  margin: 0 auto
  border: 2px solid black
  
  