//Our fonts here

@font-face
    font-family: Montserrat Alternates
    src: url('../../fonts/MontserratAlternates-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

@mixin montserrat-400-7
    font-family: 'Montserrat Alternates', sans-serif
    font-style: normal
    font-weight: 400
    line-height: 40px
    font-size: 7px

@mixin montserrat-400-10
    font-family: 'Montserrat Alternates', sans-serif
    font-style: normal
    font-weight: 400
    line-height: 40px
    font-size: 10px

@mixin montserrat-400-15
    font-family: 'Montserrat Alternates', sans-serif
    font-style: normal
    font-weight: 400
    line-height: 40px
    font-size: 15px

@mixin montserrat-400-20
    font-family: 'Montserrat Alternates', sans-serif
    font-style: normal
    font-weight: 400
    line-height: 40px
    font-size: 20px

@mixin montserrat-400-24
    font-family: Montserrat Alternates
    font-style: normal
    font-weight: 400
    line-height: 29px
    font-size: 24px
