// Our SCSS styles
@import "fonts"
@import "colors"
@import "breakpoints"
@import "mixin"

//General settings

body
	box-sizing: border-box
	min-width: 0

*,
* ::before,
* ::after
	box-sizing: inherit
	margin: 0
	min-width: inherit

// underline
.nice-underline
	display: inline-block
	position: relative

	&::before 
		content: ""
		position: absolute
		bottom: 5px
		width: 100%
		height: 7px
		transform: skew(-12deg)
		background: $blue
		opacity: .5
		z-index: -1



//border-animation
.border-animation
	display: inline-block
	padding: 1rem 2rem
	border: 2px solid #D9CCB9
	border-radius: 30% 80% 60% 40%/40% 40% 70% 60%
	animation: animatedHeader 10s infinite

@keyframes animatedHeader  
	0% 
		border-radius: 30% 80% 60% 40%/40% 40% 70% 60%
	10%
		border-radius: 35% 75% 65% 40%/40% 45% 65% 60%
	25% 
		border-radius: 40% 78% 68% 30%/60% 49% 60% 45%
	40%
		border-radius: 42% 80% 72% 25%/65% 55% 55% 30%
	55% 
		border-radius: 40% 78% 68% 30%/60% 49% 60% 45%
	75% 
		border-radius: 35% 75% 65% 40%/40% 45% 65% 60%





// Re-usable BEM blocks

.button-consult
	//style here

.text-icon
	padding-left: 0px
	list-style-image: url(/assets/images/desktop/icon-about.png)

.text-blue
	color: $blue

.text-red
	color: $red

.h6
	@include h6
.h7
	@include h7


//Courses

.courses
	margin: 7rem auto

	&__container
		max-width: 1320px
		margin: 8rem auto 
		padding: 1rem

		display: grid
		grid-template-columns: 1fr 3fr
		grid-template-rows: 1fr
		grid-gap: 3rem

		&:first-of-type
			margin: 3rem auto 7rem auto

	&__title
		@include h1
		@include margin-auto
		max-width: fit-content

	&__left-aside
		display: flex
		flex-direction: column

	&__english-level
		@include fontEngLvl
		text-align: end
		color: $blue
		white-space: nowrap
		-webkit-text-stroke: .05em $red

		margin-top: -5.1rem
		z-index: 10
		position: relative

	&__article-for-whom
		@include h5
		color: $black
		line-height: 29px

	&__text-about
		@include h5
		color: $black
		line-height: 29px

	&__point
		display: grid
		grid-template-columns: 1fr 3fr
		grid-template-rows: 1fr
		grid-gap: 1rem

		justify-items: stretch
		align-items: center
		line-height: 29px

	&__prices-wrap
		display: flex
		justify-content: space-around
		flex-wrap: nowrap
		margin-top: 2rem

	&__price-wrap
		flex: 50% 1 1
		text-align: center
		padding: 0.5rem
		min-width: fit-content

		border: 3px solid $red
		border-radius: 30px

		&--standart
			background: rgba(217, 204, 185, 0.5)
			margin-right: 0.5rem

		&--pro
			background: rgba(135, 166, 198, 0.5)
			margin-left: 0.5rem

	&__img-wrap 
		position: relative

	&__img
		max-width: 100%
		width: 100%
		z-index: 1

		img
			max-width: 100%
			width: 100%

	&__announcement
		display: inline-block
		margin-top: 2rem

	&__list-header
		margin-top: 1.5rem 

.img-frame 
	position: absolute
	z-index: 3
	background-color: transparent
	max-width: 100%
	width: 100%
	min-height: 100%
	height: 100%
	border: 2px solid #D9CCB9
	border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
	animation: animatedBorder 10s infinite
	top: 0.1px


// Feedback

.feedback 
	&__container 
		max-width: 1320px
		width: 100%

		margin-left: auto
		margin-right: auto

	&__header 
		display: inline-block
		padding: 2rem
		
  
	&__card-wrap
		max-width: 45%
  
	&__card
		display: flex
		justify-content: space-between
		align-items: flex-start
		min-width: 0
		max-height: 35vh
		text-overflow: ellipsis

		padding: 1em

	&__img-container
		position: relative
		max-width: 25%
		max-height: 100%
		margin: auto

		flex: 2 1 25% 

		img
			@include img-fit
			border: 1.43px solid #D9CCB9
			border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
			z-index: 1
			animation: animatedBorder 10s infinite
		
		img::before
			@include img-fit
			position: absolute
			z-index: 2
			

		@keyframes animatedBorder 
			0% 
				border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
			25% 
				border-radius: 58% 42% 75% 25%/76% 46% 54% 24%
			50% 
				border-radius: 50% 50% 33% 67%/55% 27% 73% 45%
			75% 
				border-radius: 33% 67% 58% 42%/63% 68% 32% 37%

	&__text-side
		@include flex-column-space-evenly
		@include h5

		flex: 1 2 75%
		padding: 0 10px
		color: $black
		line-height: 18px
		flex: 1 2 75% 
		padding: 0 10px

		max-height: 20vh
		text-overflow: ellipsis

	&__client-name
		margin: 1rem 0 0 0

	&__client-opinion
		margin: 1rem 0 0 0
		padding: 0

//Section styles

//Header

//Intro

//About

.about
	max-width: 1920px
	@include flex-center-center

	&__container
		max-width: 1920px
		margin: 0 auto
		box-sizing: border-box
		background: $beigeBg
		@include flex-column-center

	&__title-holder
		@include flex-column-center

	&__title
		@include h1
		color: $black
		margin-bottom: 14vh

	&__content
		width: 100%
		display: flex
		align-items: flex-start
		justify-content: space-between

	&__image-holder
		width: 50%
		margin-left: 13vw
		padding-bottom: 37vh

	&__image
		height: 47vh

	&__text-holder
		width: 50%
		padding-right: 05vw

		display: flex
		flex-direction: column
		justify-content: space-evenly
		align-items: center

	&__text
		@include h2
		color: $black
		line-height: 40px

	&__text-2
		@include h5
		color: $black
		line-height: 40px

	&__border
		position: absolute

//Courses

//Feedback

//Tutors
.tutors__container
	margin-left: 100px

.tutors__title
	@include inter-400-64
	color: $black
	padding-top: 112px
	padding-bottom: 25px

.tutors__items
	display: flex
	justify-content: space-between

	margin-right: 100px

.tutors__image
	padding: 25px

.tutors__item
	border: 1px solid gray
	border-radius: 10px

.tutors__name
	@include inter-700-32
	color: $black

	padding-left: 15px
	padding-top: 10px
	padding-bottom: 15px

.tutors__description
	@include inter-400-24
	color: $black

	max-width: 293px
	padding-left: 15px
	padding-bottom: 15px

.tutors__experience
	@include inter-400-32

	color: $black
	text-align: center
	padding: 20px 10px 20px 10px

.button-consult
	@include inter-400-40
	color: $black
	background-color: $grey

	border: 1px solid $black
	border-radius: 26px

	padding: 19px 191px 29px 191px

.tutors__button
	display: flex
	justify-content: center

	padding-top: 80px
	padding-bottom: 82px

//Cases

//Credentials

.credentials
	max-width: 1920px
	margin: 0 auto

	&__header
		@include flex-center-center
		@include h1
		@include margin-auto
		max-width: fit-content
		margin-bottom: 5%
    
	&__elements
		display: flex
		flex-wrap: wrap
		justify-content: space-evenly
		align-items: center

		&__list
			column-count: 2
			column-width: 35vw
			padding-left: 2rem
			list-style-type: none
			@include h5
            
			&--li
				font-size: 25px
				padding-left: 4rem
				margin-bottom: 2rem
				background-image: url('../../images/desktop/diploma-img.svg')
				background-position: 0 center
				background-size: 1.8 rem 1.8 rem
				background-repeat: no-repeat
				padding-bottom: 1rem

			&--a
				text-decoration: none
				color: #000

			&--a:hover
				text-decoration: underline

			&--a:focus
				text-decoration: underline
			&--a:active
				text-decoration: underline

.modal
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.3)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1.2s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1

.modal1
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.3)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1.2s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1

.modal2
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.3)

	&__content
		position: relative
		margin: 120px auto 
		width: 40%
		height: 40%
		animation-name: animatetop
		animation-duration: 1.2s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1

.modal3
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.3)

	&__content
		position: relative
		margin: 120px auto 
		width: 40%
		height: 40%
		animation-name: animatetop
		animation-duration: 1.2s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1


.modal4
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.3)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1.2s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1

.modal5
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.3)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1.2s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1


.modal6
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.3)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1.2s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1

//Footer


.footer
	max-width: 1920px
	background: $beigeDark

	&__container
		width: 100%
		margin: 0 auto // есть в общих стилях для всей стр, удалить после мерджа
		box-sizing: border-box // есть в общих стилях для всей стр, удалить после мерджа
		@include flex-center-space-around

		//height: 150px
		//max-width: 1920px
		//background: $beigeDark

	&__tel-holder
		@include h3
		padding-top: 3vh

	&__tel
		text-decoration: none
		color: $red

	&__copy
		@include h2
		display: flex
		align-items: flex-end
		color: $black

	&__socials
		@include flex-column-center
		width: 18vw
		//height: 78px  добавь марджины или паддинги к иконкам, чтоб суммировались в примерно нужную высоту (лучше относительные)

	&__socials-icons
		list-style-type: none
		display: inline-flex
		padding-left: 0px
		margin-top: 0px
		margin-bottom: 0px

	&__disclaimer-holder
		margin-bottom: 4vh

	&__disclaimer
		@include h4
		color: $powdery

