// Our SCSS styles
@import "fonts"
@import "colors"
@import "breakpoints"
@import "mixin"

//General settings

body
	box-sizing: border-box
	min-width: 0

*,
* ::before,
* ::after
	box-sizing: inherit
	margin: 0
	min-width: inherit
	font-optical-sizing: auto

///swiper styles
.swiper-pagination
	position: static
	margin-top: 2rem

.swiper-pagination-bullet
	background-color: #A54A47


// custom scrollbar

::-webkit-scrollbar 
	width: 6px
	height: 70%

::-webkit-scrollbar-track 
	background: #f1f1f1
	border-radius: 5px

::-webkit-scrollbar-thumb 
	background: $blue
	border-radius: 5px

::-webkit-scrollbar-thumb:hover 	
	background: $red

// underline
.nice-underline
	display: inline-block
	position: relative

	&::before 
		content: ""
		position: absolute
		bottom: 5px
		width: 100%
		height: 7px
		transform: skew(-12deg)
		background: $blue
		opacity: .5
		z-index: -1

.nice-underline--red
	display: inline-block
	position: relative

	&::before 
		content: ""
		position: absolute
		bottom: 1px
		width: 100%
		height: 10px
		transform: skew(-12deg)
		background: $red
		opacity: .4
		z-index: -1

// underline
.nice-underline
	display: inline-block
	position: relative

	&::before 
		content: ""
		position: absolute
		bottom: 5px
		width: 100%
		height: 7px
		transform: skew(-12deg)
		background: $blue
		opacity: .5
		z-index: -1


// underline
.nice-underline
	display: inline-block
	position: relative

	&::before 
		content: ""
		position: absolute
		bottom: 5px
		width: 100%
		height: 7px
		transform: skew(-12deg)
		background: $blue
		opacity: .5
		z-index: -1



//border-animation
.border-animation
	display: inline-block
	padding: 1rem 2rem
	border: 2px solid #D9CCB9
	border-radius: 30% 80% 60% 40%/40% 40% 70% 60%
	animation: animatedHeader 10s infinite


@keyframes animatedHeader  
	0% 
		border-radius: 30% 80% 60% 40%/40% 40% 70% 60%
	10%
		border-radius: 35% 75% 65% 40%/40% 45% 65% 60%
	25% 
		border-radius: 40% 78% 68% 30%/60% 49% 60% 45%
	40%
		border-radius: 42% 80% 72% 25%/65% 55% 55% 30%
	55% 
		border-radius: 40% 78% 68% 30%/60% 49% 60% 45%
	75% 
		border-radius: 35% 75% 65% 40%/40% 45% 65% 60%



// Re-usable BEM blocks

.button-consult
	//style here
	display: inline-block
	@include montserrat-500-36
	background: $red
	color: $beigeBg
	border-radius: 20px 
	border: $red
	cursor: pointer 
	user-select: none
	padding: 22px 86px
	margin-bottom: 5%
	margin-top: 5%
	transition: 1s

.button-consult:hover
	color: $blue

.text-icon
	padding-left: 0px
	list-style-image: url(/assets/images/desktop/icon-about.png)

.text-blue
	color: $blue

.text-red
	color: $red

.h6
	@include montserrat-500-36
.h7
	@include montserrat-400-24



//Credentials

.credentials
	max-width: 1920px
	margin: 0 auto
	box-sizing: border-box
	background: $beigeBg

	&__header
		@include flex-center-center
		@include margin-auto
		@include montserrat-500-48
		max-width: fit-content
		margin-bottom: 5%
    
	&__elements
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center

		&__list
			column-count: 2
			column-width: 30vw
			column-gap: 10%
			padding-left: 12.5%
			padding-right: 12.5%
			list-style-type: none
			@include montserrat-400-24
            
			&--li
				padding-left: 4rem
				margin-bottom: 1rem
				background-image: url('../../images/desktop/diploma-img.svg')
				background-position: 0 center
				background-repeat: no-repeat
				padding-bottom: 1rem

			&--a
				text-decoration: none
				color: #000

			&--a:hover
				text-decoration: underline

			&--a:focus
				text-decoration: underline
			&--a:active
				text-decoration: underline

	&__button
		@include flex-center-center

@media screen and (max-width: $max-desktop) 
	.credentials
		&__elements
			&__list
				column-count: 1

@media (min-width: 1321px) and (max-width: 1360px)
	.credentials
		&__elements 
			&__list 
				&--li:nth-child(4)
					margin-bottom: 10%

@media (min-width: 1361px) and (max-width: 1920px)
	.credentials
		&__elements 
			&__list 
				&--li:nth-child(4)
					margin-bottom: 16%

@media screen and (max-width: $mobile)
	.credentials
		&__elements 
			&__list 
				padding-left: 0.1%
				padding-right: 0.1%
		&__header 
			@include montserrat-500-26
	.button-consult
		@include montserrat-500-20
		padding: 10px 25px

@media (min-width: $mobile) and (max-width: $tablet)
	.button-consult
		@include montserrat-500-26
		padding: 16px 50px
	.credentials
		&__elements 
			&__list 
				padding-left: 0.1%
				padding-right: 0.1%
		&__header 
			@include montserrat-500-26

@media (min-width: $tablet) and (max-width: $desktop)
	.credentials
		&__header
			@include montserrat-500-36

@media screen and (max-width: 272px)
	.button-consult
		@include montserrat-400-15
		padding: 6px 14px
	
	
.modal
	display: none
	position: fixed
	z-index: 9999
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.2)

	&__content
		position: relative
		margin: 60px auto 
		animation-name: animatetop
		animation-duration: 1s
    
	&__body
		padding: 4px
    
@keyframes animatetop
	from 
		opacity: 0
        
	to
		opacity: 1

.modal1
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.2)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1s
    
	&__body
		padding: 4px
    
.modal2
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.2)

	&__content
		position: relative
		margin: 120px auto 
		width: 40%
		height: 40%
		animation-name: animatetop
		animation-duration: 1s
    
	&__body
		padding: 4px
    

.modal3
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.2)

	&__content
		position: relative
		margin: 120px auto 
		width: 40%
		height: 40%
		animation-name: animatetop
		animation-duration: 1s
    
	&__body
		padding: 4px

.modal4
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.2)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1s
    
	&__body
		padding: 4px

.modal5
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.2)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1s
    
	&__body
		padding: 4px

.modal6
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0, 0, 0, 0.2)

	&__content
		position: relative
		margin: 60px auto 
		width: 30%
		height: 30%
		animation-name: animatetop
		animation-duration: 1s
    
	&__body
		padding: 4px
	
@media screen and (max-width: $mobile)
	.modal 
		&__content 
			width: 80%
	.modal1 
		&__content 
			width: 80%
	.modal2
		&__content 
			width: 80%
	.modal3 
		&__content 
			width: 80%
	.modal4 
		&__content 
			width: 80%
	.modal5 
		&__content 
			width: 80%
	.modal6 
		&__content 
			width: 80%

@media (min-width: $mobile) and (max-width: $tablet)
	.modal 
		&__content 
			width: 80%
	.modal1 
		&__content 
			width: 80%
	.modal2
		&__content 
			width: 80%
	.modal3 
		&__content 
			width: 80%
	.modal4 
		&__content 
			width: 80%
	.modal5 
		&__content 
			width: 80%
	.modal6 
		&__content 
			width: 80%

@media (min-width: $tablet) and (max-width: $desktop)
	.modal 
		&__content 
			width: 60%
	.modal1 
		&__content 
			width: 60%
	.modal2
		&__content 
			width: 60%
	.modal3 
		&__content 
			width: 60%
	.modal4 
		&__content 
			width: 60%
	.modal5 
		&__content 
			width: 60%
	.modal6 
		&__content 
			width: 60%

@media (min-width: $desktop) and (max-width: $max-desktop)
	.modal 
		&__content 
			width: 40%
	.modal1 
		&__content 
			width: 40%
	.modal2
		&__content 
			width: 50%
	.modal3 
		&__content 
			width: 50%
	.modal4 
		&__content 
			width: 40%
	.modal5 
		&__content 
			width: 40%
	.modal6 
		&__content 
			width: 40%

@media screen and (min-width: $max-desktop)
	.modal 
		&__content 
			width: 30%
	.modal1 
		&__content 
			width: 30%
	.modal2
		&__content 
			width: 50%
	.modal3 
		&__content 
			width: 50%
	.modal4 
		&__content 
			width: 30%
	.modal5 
		&__content 
			width: 30%
	.modal6 
		&__content 
			width: 30%

