//about styles

@import "../breakpoints"
@import "../colors"
@import "../fonts"
@import "../mixin"

.about
    max-width: 1920px
    @include flex-center-center

    &__container
        max-width: 1920px
        margin: 0 auto
        box-sizing: border-box
        background: $beigeBg
        @include flex-column-center

    &__title-holder
        @include flex-column-center

    &__title
        @include montserrat-500-48
		color: $black
		margin-bottom: 14vh

    &__content
        width: 100%
        @include flex-start-space-between

    &__image-holder
        width: 50%
        margin-left: 10vw
        padding-bottom: 37vh

    &__image
        height: 44vh
        transform: scale(-1, 1)

    &__text-holder
        width: 50%
        padding-right: 05vw
        padding-left: 2vw
        @include flex-column-center-space-evenly

    &__text
        @include montserrat-400-24
		color: $black
		line-height: 40px

    &__text-2
        @include montserrat-400-20
		color: $black

    &__border
        position: absolute

.about-double
    display: none

@media (min-width:1240px) and (max-width: 1330px)
    .about
        &__image-holder
            width: 30%
            margin-left: 10vw

        &__image
            height: 35vh

    .about-double
        display: none

@media (min-width:921px) and (max-width: 1240px)
    .about
        display: none

    .about-double
        max-width: 1920px
        @include flex-center-center

        &__container-double
            max-width: 1920px
            margin: 0 auto
            box-sizing: border-box
            background: $beigeBg

        &__title-holder-double
            @include flex-column-center

        &__title
            @include montserrat-500-48
			color: $black
			margin-bottom: 8vh

        &__content-double
            width: 100%
            display: flex
            flex-wrap: wrap

        &__image-holder-double
            width: 40%
            margin-bottom: 1vh

        &__image-double
            width: 40vh
            margin-left: 6vh
            margin-top: 7vh
            transform: scale(-1, 1)

        &__text-holder-double
            @include flex-column-space-evenly
			width: 60%
			padding-left: 16vh
			padding-top: 10vh
			padding-right: 5vh

        &__text
            @include montserrat-400-24
			color: $black
			line-height: 30px
			width: 100%

        &__text-2
            @include montserrat-400-20
			color: $black

        &__icon-double
            width: 100%
            margin-left: 10vh
            margin-right: 5vh

@media (min-width:767px) and (max-width: 921px)
    .about
        &__title-holder
            height: 25vh

        &__content
            @include flex-column-center
			margin-bottom: 1vh

        &__image-holder
            width: 100%
            padding-bottom: 1vh
            margin-left: 0vw

        &__image
            width: 100%

        &__text-holder
            width: 100%
            padding-left: 08vw
            padding-right: 05vw

        &__text
            text-align: center

        &__text-2
            line-height: 25px

    .text-icon
        width: 90%
        text-align: left

    .about-double
        display: none

@media (min-width:320px) and (max-width: 767px)
    .about
        &__title-holder
            height: 25vh

        &__content
            @include flex-column-center
			margin-bottom: 1vh

        &__image-holder
            width: 100%
            padding-bottom: 1vh
            margin-left: 0vw

        &__image
            width: 100%

        &__text-holder
            width: 100%
            padding-left: 08vw
            padding-right: 05vw

        &__text
            @include montserrat-400-20
			text-align: center
			line-height: 15px

        &__text-2
            @include montserrat-400-15
			line-height: 15px

    .text-icon
        width: 90%
        text-align: left

    .about-double
        display: none

@media (min-width:250px) and (max-width: 320px)
    .about
        &__title-holder
            height: 25vh

        &__title
        @include montserrat-500-26
		margin-bottom: 5vh
		text-align: left

        &__content
            @include flex-column-center
			margin-bottom: 1vh

        &__image-holder
            width: 100%
            padding-bottom: 1vh
            margin-left: 0vw

        &__image
            width: 100%

        &__text-holder
            width: 100%
            padding-left: 08vw

        &__text
            @include montserrat-400-20
			text-align: center
			line-height: 15px

        &__text-2
            @include montserrat-400-15
			line-height: 15px

    .text-icon
        width: 80%
        text-align: left

    .about-double
        display: none
