//header styles

@import "../breakpoints"
@import "../colors"
@import "../fonts"
@import "../mixin"

.header
    top: 0
    display: flex
    justify-content: center
    align-items: center
    background: $beigeDark
    max-height: 65px


    &__container
        display: flex
        justify-content: space-between
        align-items: center

        width: 100%
        max-width: $max-desktop
        padding-top: 10px

    &__burger-btn
        display: none
        position: relative
        width: 40px
        height: 40px
        margin-left: 5px
        border: none
        background-color: transparent
        z-index: 55

        @media (max-width: 800px)
            display: block

    &__line 
        position: absolute
        width: 30px
        height: 3px
        background-color: black
        left: 5px
        transition: transform .5s, opacity .5s, background-color .5s

        &--first
            transform: translateY(-10px)
        &--third
            transform: translateY(10px)

    &__logo-holder
        display: flex

        width: 8vw
        max-width: 150px

        margin-top: 2.2vh
        margin-left: 6vw

        @media (max-width: 800px)
            margin-left: auto
        @media (max-width: 600px)
            display: none

    &__logo
        width: 100%

    &__menu-holder
        display: flex
        @media (max-width: 800px)
            position: absolute
            width: 250px
            left: -250px
            top: 0
            background-color: $beigeDark
            opacity: 97%
            padding: 83px 20px 20px 20px 
            transition: transform .5s
            z-index: 50

    &__menu
        display: flex
        gap: 3vw

        //width: 100%

        margin: 0
        list-style: none

        @media (max-width: 800px)
            flex-direction: column
            padding-left: 20px

    &__link
        @include montserrat-400-20
        text-decoration: none
        color: $black

        @media (max-width: 800px)
            font-size: 20px !important

    &__link:hover
        text-decoration: underline $blue
        opacity: 0.75

    &__socials
        display: flex
        justify-content: center

        padding: 0
        margin-left: 2vw
        list-style: none

    &__socials-icons > img
        width: 70px

    &__icons-instagram:hover
        filter: drop-shadow(5px 5px 10px #d11d98)


    &__icons-telegram:hover
        filter: drop-shadow(5px 5px 10px #2ca6df)

    &__icons-whatsapp:hover
        filter: drop-shadow(5px 5px 10px #1bb541)


    &__icons-handset:hover
        filter: drop-shadow(5px 5px 10px #1e1b1e)


@media (max-width: 1380px)
    .header
        &__link
            @include montserrat-400-20

@media (max-width: 1080px)
    .header

        &__link
            @include montserrat-400-15

        &__socials-icons > img
            width: 50px

@media (max-width: 800px)
    .header
        &__logo-holder
            width: 20vw
        &__socials-icons > img
            width: 50px

    .header.open .header__menu-holder
        transform: translateX(100%)

    .header.open .header__line
        background-color: #fff
    
    header.open .header__line--second 
        opacity: 0

    header.open .header__line--first
        transform: translateY(0) rotate(45deg)

    header.open .header__line--third
        transform: translateY(0) rotate(-45deg)
