*,
* ::before,
* ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.feedback__container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.feedback__card-wrap {
  max-width: 45%;
}
.feedback__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 0;
  padding: 1em;
}
.feedback__img-container {
  max-width: 25%;
  max-height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 25%;
          flex: 2 1 25%;
}
.feedback__img-container img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.feedback__text-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 75%;
          flex: 1 2 75%;
  padding: 0 10px;
}
.feedback__client-name {
  margin: 1rem 0 0 0;
}
.feedback__client-opinion {
  margin: 1rem 0 0 0;
  padding: 0;
}

.about__container {
  height: 708px;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFBF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  line-height: 59px;
  font-size: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.about__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__block-img {
  height: 400px;
}

.about__img {
  height: 300px;
}

.about__information {
  height: 400px;
  padding-left: 177px;
  background: #FFFFEC;
}

.about__information-text {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  font-size: 24px;
  color: #000000;
}

.footer__container {
  height: 150px;
  max-width: 1920px;
  background: #D9CCB9;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__telnumber {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  font-size: 36px;
}

.footer__telnumber-text {
  text-decoration: none;
  color: #A54A47;
}

.footer__copy {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000000;
}

.footer__socialnetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socialnetwork-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.footer__socialnetwork-attention-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  font-size: 8px;
  color: #CA8D66;
}