@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  box-sizing: border-box;
  min-width: 0;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
  margin: 0;
  min-width: inherit;
}

.border-animation {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid #D9CCB9;
  border-radius: 30% 80% 60% 40%/40% 40% 70% 60%;
  animation: animatedHeader 10s infinite;
}

@keyframes animatedHeader {
  0% {
    border-radius: 30% 80% 60% 40%/40% 40% 70% 60%;
  }
  10% {
    border-radius: 35% 75% 65% 40%/40% 45% 65% 60%;
  }
  25% {
    border-radius: 40% 78% 68% 30%/60% 49% 60% 45%;
  }
  40% {
    border-radius: 42% 80% 72% 25%/65% 55% 55% 30%;
  }
  55% {
    border-radius: 40% 78% 68% 30%/60% 49% 60% 45%;
  }
  75% {
    border-radius: 35% 75% 65% 40%/40% 45% 65% 60%;
  }
}
.text-icon {
  padding-left: 0px;
  list-style-image: url(/assets/images/desktop/icon-about.png);
}

.text-blue {
  color: #87A6C6;
}

.text-red {
  color: #A54A47;
}

.h6 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  font-size: 24px;
}

.h7 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  font-size: 20px;
}

.courses__container {
  max-width: 1320px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}
.courses__left-aside {
  display: flex;
  flex-direction: column;
}
.courses__point {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: center;
}
.courses__prices-wrap {
  display: flex;
  justify-content: space-around;
}
.courses__price {
  text-align: center;
}
.courses__img-wrap {
  position: relative;
}
.courses__img {
  max-width: 100%;
  width: 100%;
  z-index: 1;
}
.courses__img img {
  max-width: 100%;
  width: 100%;
}

.img-frame {
  position: absolute;
  z-index: 3;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  border: 2px solid #D9CCB9;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  animation: animatedBorder 10s infinite;
  top: 0.1px;
}

.feedback__container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.feedback__header {
  display: inline-block;
  padding: 2rem;
}
.feedback__card-wrap {
  max-width: 45%;
}
.feedback__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  padding: 1em;
}
.feedback__img-container {
  position: relative;
  max-width: 25%;
  max-height: 100%;
  margin: auto;
  flex: 2 1 25%;
}
.feedback__img-container img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  max-height: 100%;
  border: 1.43px solid #D9CCB9;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  z-index: 1;
  animation: animatedBorder 10s infinite;
}
.feedback__img-container img::before {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 2;
}
@keyframes animatedBorder {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
.feedback__text-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 2 75%;
  padding: 0 10px;
}
.feedback__client-name {
  margin: 1rem 0 0 0;
}
.feedback__client-opinion {
  margin: 1rem 0 0 0;
  padding: 0;
}

.feedback__container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.feedback__card-wrap {
  max-width: 45%;
}
.feedback__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  padding: 1em;
}
.feedback__img-container {
  max-width: 25%;
  max-height: 100%;
  flex: 2 1 25%;
}
.feedback__img-container img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.feedback__text-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 2 75%;
  padding: 0 10px;
}
.feedback__client-name {
  margin: 1rem 0 0 0;
}
.feedback__client-opinion {
  margin: 1rem 0 0 0;
  padding: 0;
}

.about {
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__container {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #FFFBF8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  line-height: 59px;
  font-size: 48px;
  color: #000000;
  margin-bottom: 14vh;
}
.about__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about__image-holder {
  width: 50%;
  margin-left: 13vw;
  padding-bottom: 37vh;
}
.about__image {
  height: 47vh;
}
.about__text-holder {
  width: 50%;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about__text {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  font-size: 24px;
  color: #000000;
  line-height: 40px;
}
.about__text-2 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  font-size: 20px;
  color: #000000;
  line-height: 40px;
}
.about__border {
  position: absolute;
}

.tutors__container {
  margin-left: 100px;
}

.tutors__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #000000;
  padding-top: 112px;
  padding-bottom: 25px;
}

.tutors__items {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.tutors__image {
  padding: 25px;
}

.tutors__item {
  border: 1px solid gray;
  border-radius: 10px;
}

.tutors__name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.tutors__description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 293px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.tutors__experience {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
  padding: 20px 10px 20px 10px;
}

.button-consult {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  background-color: #8C8383;
  border: 1px solid #000000;
  border-radius: 26px;
  padding: 19px 191px 29px 191px;
}

.tutors__button {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 82px;
}

.footer {
  max-width: 1920px;
  background: #D9CCB9;
}
.footer__container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__tel-holder {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  font-size: 36px;
  padding-top: 3vh;
}
.footer__tel {
  text-decoration: none;
  color: #A54A47;
}
.footer__copy {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
}
.footer__socials-icons {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer__disclaimer-holder {
  margin-bottom: 4vh;
}
.footer__disclaimer {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  font-size: 8px;
  color: #CA8D66;
}
